/*
Challenge:
Select the img tag and set the width 
of the Google logo to be 300px.
*/
.main {
    margin-top: 100px;
    /* text-align: center; */
}

.logo-img {
    /* center the image requires 1 display: block, 2 width < size of the block, 
        3 margin-left and margin-right = auto */
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.search-input {
    display: block;
    width: 400px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    background-color: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}

p {
    display: flex;
    justify-content: center;
}