.card {
    color: #222222;
    background:lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 4px solid #222222;
    border-radius: 20px;

    /* padding: 50; add spaces between the content and the edges of the container or div
                    while margin add spaces at the outside of the div */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
